<div class="info container secondary-color py-2">
    <h3 id="festival-name">
        Festival Title:
    </h3>
    <p id="festival-type">
        Type: genre
    </p>
    <p id="festival-location">
        Location
    </p>
    <p id="festival-lineup">
        Lineup
    </p>
    <p id="festival-price">
        Ticket Price
    </p>
    <a onclick="hideInfo()" id="close-btn" >
        <i class="fas fa-times" ></i>
    </a>
</div>