<div class="info container secondary-color py-2">
    <ul class="list-group">
        <li class="list-group-item primary-background-color secondary-color" id="festival-name">
        </li>
        <li class="list-group-item primary-background-color secondary-color" id="festival-type">
            Typte: genre
        </li>
        <li class="list-group-item primary-background-color secondary-color" id="festival-location">
            Location:
        </li>
        <li class="list-group-item primary-background-color secondary-color" id="festival-lineup">
            Lineup:
        </li>
        <li class="list-group-item primary-background-color secondary-color" id="festival-price">
            Ticket Price:
        </li>
        <li class="list-roup-item" id="festival-price">
            <a onclick="hideInfo()" id="close-btn">
                <i class="fas fa-times"></i>
            </a>
        </li>
    </ul>
</div>