
<div id="search-bar" class="bar bg-dark">
    <h1 class="display-4 d-flex justify-content-center"> <strong> <u> Filters </u> </strong> </h1>

    <h3 class="display-6 px-5">Type</h3">
    <h3 class="display-6 px-5">Location</h3>
    <h3 class="display-6 px-5">Price</h3>
</div>

