<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Font awesome -->
        <script src="https://kit.fontawesome.com/939bc6dcd6.js" crossorigin="anonymous"></script>
        <!-- Bootstrap CSS CDN -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
        <!-- Bootstrap JS bundle CDN -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

        <!-- Probably not a good way of loading the database
            it just creates a script that is generated from the database
         -->

        <script>
            /* 
                The <%%> tag adds JSON (that was sent from server) and adds it to this HTML
                script tag before it is sent to the user, vscode is stupid so it thinks this is an error but its not
            */
            /* jshint ignore:start */
            const FestivalsJSON = <%- JSON.stringify(DATABASE) %>;
            /* jshint ignore:end */
        </script>
        



        <!-- Custom CSS -->
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="stylesheet" href="assets/css/search.css">

        <!-- Custom JS -->
        <script src="/assets/js/main.js"></script>

        <title>Festivalist</title>
        <link rel="icon" href="/assets/img/logo32.png">
    </head>
    <body class="bg-dark text-white">
        <!-- Helper-holder is to set, width and height which allows the bar to slide in without lots of issues -->
        
            <!-- Include the head -->
        <%- include('partials/header', {page: 'primary'}) %>
        
        <div class="helper">
            <!-- Include search --> 
            <%- include('partials/search') %>

            <!-- div that postions map -->
            <div class="d-flex justify-content-center">
                <!-- div that holds the map-->
                <div id="map" class="d-flex justify-content-center"></div>
            </div>

            <!-- Include info -->
            <%- include('partials/info') %>
        </div>
        
        <!-- Maps API -->
        <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAw9h1Ix5vNpOwcpoVlRkluEv69el6IOUc&callback=initMap" async>
        </script>
    </body>
</html>
