
.header {
    top: 0px;
    position: sticky;
    margin: auto;
    color: #ffa600;
}

.border-custom {
    display: inline-block;
    border-color: #ffffff;
    border-radius: 0px 0px 30px 30px
}

.icon-custom {
    font-size: 1.5rem;
}

.primary-color {
    color: #000000
}

.secondary-color {
    color:  #ffa600
}

.tertiary-color {
    color: #ffffff
}