
.bar {
    /*background-color: #ffa600;*/
    color: #ffa600;
    z-index: 30;
    position: absolute;
    height: 100%;
    top: 0;
    clear: both;
    

    -webkit-transition: all 1s ease;  
    -moz-transition: all 1s ease;  
    -o-transition: all 1s ease;  
    -ms-transition: all 1s ease;  
    transition: all 1s ease;
}


.btn {
}

@media (max-width: 600px) {
    .bar {
        width: 100vw;
        right: -100vw;
    }

    .bar.active {
        transform: translate(-100vw,0);
    }
}

@media (min-width: 600px) {
    .bar {
        width: 30vw;
        right: -30vw;
    }
    
    
    .bar.active {
        transform: translate(-30vw,0);
    }
}